@font-face {
    font-family:adventurefont;src:url(images/daringdo/Adventure.ttf)
}

body {
    color: #000;
    background-color: #E6D174
}

hr {
    border-bottom-color: #694
}

h1,h2 {
    background-color: transparent;
    color: #000;
    text-align: center;
    font-family: adventurefont
}

#replyboxdiv label {
    color: #FFF
}

.spoiler {
    background: #372;
    color: #372
}

.spoiler:hover {
    color: #fff
}

#bodywrap1 {
    background-position: right top;
    background-color: #E6D174;
    background-attachment: fixed;
    background-image: url(images/daringdo/bg.png);
    background-repeat: no-repeat
}

.thumb {
    background-color: #FE9;
    box-shadow: 3px 3px 5px #541
}

.logo {
    color: #171;
    text-shadow: 0 0 10px #6A3;
    font-family: adventurefont
}

a,a:visited,a:active {
    color: #060
}

a:hover,.reflink a:hover {
    color: #0D0
}

.darkbar {
    background-color: #F2D273;
    background-image: url(images/daringdo/bar.png);
    background-position: right top;
    background-repeat: repeat-y
}

#themedropdown {
    background-color: #F2D273
}

.darkbar a {
    color: #222;
    border-top-color: #45a
}

#verytopbar a {
    transition: background-color .6s;
    -moz-transition: background-color .6s;
    -webkit-transition: background-color .6s;
    -o-transition: background-color .6s;
    background-color: transparent;
    border-top-color: #666;
    font-size: .8em
}

#verytopbar a:hover {
    background-color: rgba(0,0,0,0.3)
}

.darkbar a:hover {
    color: #e8f0ff
}

.darkbar a:hover,.darkbar .navbarcurboard {
    border-top-color: #8ae
}

#siteleftsidebar a:hover,#topmenu .tab {
    background: #CA5
}

.sitesidebar h2,.newsentry h2,#topmenu .current {
    background: #B94
}

.sitesidebar h2,#topmenu .tab,#sitemiddle h2 {
    border: 1px solid #6A3
}

.sitesidebar h2,#sitemiddle h2 {
    -o-box-shodow: 2px 2px 2px #6A3;
    -moz-box-shadow: 2px 2px 2px #6A3;
    -webkit-box-shadow: 2px 2px 2px #6A3;
    box-shadow: 2px 2px 2px #6A3
}

.postblock {
    background: #333;
    color: silver
}

.postarea input[type=text],.postarea input[type=password],.postarea textarea {
    background-color: #333;
    color: silver;
    transition: background-color .4s;
    -moz-transition: background-color .4s;
    -webkit-transition: background-color .4s;
    -o-transition: background-color .4s;
    border-color: #666;
    border-width: 3px
}

.postarea input[type=text]:focus,.postarea input[type=password]:focus,.postarea textarea:focus,.postblock:focus {
    background-color: #AAA;
    color: #000;
    border-color: #DDD;
    margin: 0
}

.helphover div,.reply,.highlight {
    background: #CA5;
    border-width: 0
}

.reflinkpreview,.highlight {
    background: #9D5;
    border-left-width: 3px;
    border-left-color: #070
}

.filetitle {
    color: #6A3
}

.filesize {
    color: #555
}

.postername {
    color: #171;
    border-bottom-color: #393
}

.postername a {
    color: #FFC;
    border-bottom-color: #393
}

.postertrip {
    color: #393
}

.unkfunc {
    color: #492
}

.royalluna,.rcv {
    font-size: 1.1em;
    text-shadow: 2px 2px 0 rgba(120,170,80,0.6), -2px -2px 0 rgba(60,170,40,0.4)
}

.admin,.mod {
    text-decoration: blink
}

.blotter {
    color: #6A3;
    font-weight: 700
}

.roll {
    font-weight: 100;
    font-style: italic;
    line-height: 1.5em;
    border: 2px dotted #3A3;
    outline: 0
}

blockquote,label {
    color: #000
}